<%= render :partial => 'book_cranny', :locals => {:books => books} %>
<div id="add_book">
	<%= render :partial => "add_book", :locals => { :book => @b = books.shift }%>
	<% books << @b %>
</div>
<br/><br/><br/>
<!-- "previous page" action -->
<a id="prev_gbook" class="prev browse left"></a>

<!-- root element for scrollable -->
<div id="gbook_results" class="scrollable">   
   
   <!-- root element for the items -->
   <div class="items">
   
      <!-- 1-5 -->
      <% books.each do |book| %>
	      <div>
					<%= image_tag(book.css('link').first.attr('href').gsub('zoom=5','zoom=0'), :style => 'height:150px; max-width:130px;', :alt => book.css('title').text, :ref =>  book.css('dc|identifier').text.split(':').first, :class => "gbook-listing") %>
	      </div>
	      
      <% end %>
      
   </div>
</div>
<!-- "next page" action -->
<a id="next_gbook" class="next browse right"></a>

